aside {
    margin: 0 1.5%;
    width: 30%;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
    .footer {
    flex-shrink: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

nav li {
    display: inline-block;
    margin-right: -4px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    border-bottom: 1px solid #888;
    width: 300;
    height: 50px;
    font-size: 1.4em;
    padding-right: 25px;
}

main {
    padding-top: 15px;
}

footer {
    padding-left: 15px;
}